{% load static %}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                {% for rs in blog_latest %}
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a href="{% url 'blog_detail' rs.id rs.slug %}"><img src="{{ rs.image.url }}" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="#">Admin</a></li>
                                <li>{{ rs.create_on_date }}</li>
                            </ul>
                        </div>

                        <h3><a href="{% url 'blog_detail' rs.id rs.slug %}">{{ rs.title }}</a></h3>
                        <p>{{ rs.description }}</p>
                        <a href="{% url 'blog_detail' rs.id rs.slug %}" class="read-more-btn">Ko'proq o'qish <i class="flaticon-add-1"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->